* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: #272822;

  color: rgba(255, 255, 255, 0.88);
  font: 16px/1.6 思源黑體, "Source Han Sans", "Noto Sans CJK TC", 蘋方-繁, "PingFang TC", 微軟正黑體, "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #53BAFF;
}

button {
  color: rgba(255, 255, 255, 0.88);
  border: 0;
  border-radius: 4px;
  padding: 10px 24px;
  background: #FF5368;
  transition: .1s background;
}

button:hover {
  background: hsl(353,100%,56%);
}

button:active {
  background: hsl(353,100%,46%);
  outline: 0;
}

button:disabled {
  opacity: 0.4;
}