* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: #272822 url('./bg.svg') top center no-repeat;
  background-size: 100% auto;

  color: rgba(255, 255, 255, 0.88);
  font: 16px/1.6 思源黑體, "Source Han Sans", "Noto Sans CJK TC", 蘋方-繁, "PingFang TC", 微軟正黑體, "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url('./bg-large.svg');
  }
}


a {
  color: #53BAFF;
}

button {
  color: rgba(255, 255, 255, 0.88);
  border: 0;
  border-radius: 4px;
  padding: 10px 24px;
  background-color: #FF5368;
  transition: background-color .2s ease;
}

button:hover {
  background-color: hsl(353,100%,56%);
}

button:active {
  background-color: hsl(353,100%,46%);
  outline: 0;
}

button:disabled {
  opacity: 0.4;
}

/* cogo-tooltip */
#ct-container {
  color: #333;
}
